* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration-style: none;
  overflow: hidden;
  font-family: sans-serif;
}
.App {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  margin: auto;
  max-width: 1440px;
}
.subtitle {
  font-size: 32px;
  font-weight: 600;
}
.title {
  font-size: 56px;
  font-weight: 700;
}

p {
  margin: 30px;
  text-align: justify;
  max-height: 50vh;
  overflow-y: auto;
}
main {
  height: 80%;
  width: 100%;
  background-color: rgb(24, 24, 24);
  padding-top: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 4px solid rgb(116, 116, 116);
  overflow: scroll;
  overflow-x: hidden;
}
/* main::-webkit-scrollbar {
  display: none !important;
} */
::-webkit-scrollbar {
  width: 8px;

  /* background: #c2c2c2; */
}

::-webkit-scrollbar-thumb {
  background: rgb(135, 134, 172);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(91, 90, 123);
}

.main-title {
  color: white;
  font-size: 38px;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contact {
  color: white;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(149, 149, 149);
}
.contact:hover {
  background-color: #919191;
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}
.no-user-img {
  color: aqua;
  font-size: 30px;
}
img {
  font-size: 5px;
  width: 40px;
  height: 40px;
}
button {
  background-color: lightblue;
  padding: 4px;
  border: none;
  border-radius: 2px;
  margin: 0px 5px;
  cursor: pointer;
}
input {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 3px;
  min-width: 300px;
}
section {
  display: flex;
  justify-content: center;
  min-height: 40px;
}
